*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/qaplug_profiles.xml
.idea/sonarlint/issuestore/1/c/1cd712a03de485d5131857a5eb218b4f4010f0f0
.idea/sonarlint/issuestore/2/8/28f1afe8c45efb855ec66e3854fc629c1828b47c
.idea/sonarlint/issuestore/3/3/3308556ddd8f0ed92cd07273c41b94d98c58c256
.idea/sonarlint/issuestore/6/e/6ece121b174b8b7728cc7ab189a7f033d8b4b696
.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
.idea/sonarlint/issuestore/d/c/dc144fa7f88bc5f9201aaded6d3f6e2cfa2cca4e
.idea/sonarlint/issuestore/index.pb
.idea/checkstyle-idea.xml
