<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2">
        <activity
            android:name=".ViewEventsActivity"
            android:exported="false" />
        <activity
            android:name=".FilterPage"
            android:exported="false" />
        <activity
            android:name=".EditProfilePage"
            android:exported="false" />
        <activity
            android:name=".profilePage"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The OPENABLE category declares that the returned file is accessible
                     from a content provider that supports OpenableColumns
                     and ContentResolver.openFileDescriptor() -->
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>